<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../view/stylesheet.css">
        
    </head>
    <body>
        
        <div class="navbar">
            <nav>
            <div class="logo">
                WEL<span>COME</span>
            </div>
             <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">contact</a></li>    
             </ul>
            </nav>
            </div>
            <div class="split">
            <div class="description">
                <div><h1>Thank You For Visiting this website</h1>
                <p>This is the first landing page designed by me guided by the <a href="">odin  project</a>.<br>You can click 
                on the link to learn about the Odin project.</p></div>
                <button>Sign Up</button>

            </div>
            </div>

            
        
        
    </body>
</html>