
body{
    background-image: url(../images/mexico-gfa3afd079_1920.jpg);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:100px;
    padding-top: 20px;
    padding-right: 200px;
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: white;
}  
.logo span{
    color:red ;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}
.description{
    justify-content: center;
    align-items: center;
    padding-left:100px ;
    padding-top:50px;
}
.description h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;
}
.description p,a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}
.description button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 8px;
    width: 102px;
    background-color:gray ;
    border-color:white;
}