#welcome{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color:white;
    position:absolute;
    left: 150px;
    top: 1px;
    flex: auto;
 }
 .navigation{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    top: 0px;
    left:300px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 .items{
    display: flex;
    flex-wrap: wrap
        
}
 /* #home{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:gray;
    position:absolute;
    right: 480px;
    top: 3px;
    flex: 1 1 0;
 }
 #products{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:gray;
    position:absolute;
    right: 365px;
    top: 3px;
    flex: 1 1 0;
 }
 #about{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:gray;
    position:absolute;
    right: 280px;
    top: 3px;
    flex: 1 1 0;
 } */
 #heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: white;
    position: absolute;
    top: 120px;
    left:150px ;
 }
 #headdes{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: white;
    position: absolute;
    top: 200px;
    left:155px;
 }
 #signup{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white ;
    font-size: 15px;
    background-color:#3882F6 ;
    display: inline-block;
    position: absolute;
    top:270px;
    left: 150px;
    border-radius: 5px;
    border-color: transparent;
    border-width:5px;
    border-inline-width:20px ;
    }
 #link{
    color: #3882F6;
 }   

  
